html {
  background-color: #f5f5f5;
  margin-top: 2em;
  margin-bottom: 3em;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 1.5em;
  padding-bottom: 2.5em;
  padding-top: 2.5em;
  width: 90%;
  border-radius: 4px;
  box-shadow: 0px 4px 6px 0px #ccc;
}

h1, h2 {
  margin-bottom: 1.5em;
}

pre, code {
  background-color: #eee;
  padding: 0.25em;
  line-height: 1.5em;
}

p {
  line-height: 1.25em;
}

pre {
  padding: 0.5em;
}

ul {
  padding-left: 1.5em;
}

.navigation {
  margin-top: 2em;
}
.navigation ul {
  list-style-type: none;
}
.navigation ul li {
  display: inline-block;
}
.navigation ul li a {
  color: #222;
  margin-right: 3em;
}
.navigation ul li a:hover {
  text-decoration: none;
}
